header {

  background-color: #242;
  padding:100px;
  text-align: center;
  font-size:70px;
  color: white;
  text-decoration: none;
  text-shadow: 0px 4px 20px black;
  background-image: url("assets/blueprint.png");
}

header > a {
  color: white;
    text-decoration: none;
}
ul.nav {
  padding-left: 0px;
  background-color: rgb(33,77,112);
  text-align: left;
}
ul.nav > li {
  display: inline-block;
  background-color: rgb(33,77,112);
  font-size: 30px;
  margin-left: 30px;
  padding: 10px 0px;
  
}

ul.nav > li > a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

ul.nav > li > a:active {
  color: yellow;
  
}

ul.nav > li.chosen {color:yellow;
  
  font-size: 30px;
  border-width: 1px;
  border-radius: 5px;
  text-decoration: none;
}

ul.nav > li.chosen > a {color:yellow;
  background-color: rgb(43,99,146);
  font-size: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

nav{
    height: 50px;
    background-color: rgb(33,77,112);
    padding:0px;
}

.viewnav {padding: 10px;
  background-color: rgb(33,77,112);
  text-align: left;
  }
  
  .viewnav > li {
    display: inline-block;
    background-color: rgb(33,77,112);
    font-size: 22px;
    padding: 10px 20px;
  }
  
  .viewnav > li > a {
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
  
  }
  
  .viewnav > li.chosen2 > a {color:yellow;
          background-color: rgb(43,99,146);
          font-size: 20px;
          border-width: 1px;
          border-radius: 5px;
          padding: 10px 20px;
          text-decoration: none;
        }

  .viewnav > li.chosen2 {color:yellow;
          background-color: rgb(43,99,146);
          font-size: 20px;
          border-style: solid;
          border-width: 1px;
          border-radius: 5px;
          padding: 10px 20px;
          text-decoration: none;
        }
  

body {background-color: rgb(33,77,112);
    color:white;}

h1   {color: blue;}

p    {color: red;}

table {
      margin: auto;
      width: 70%;
      table-layout: fixed;
      column-width: 300px;
      text-align: center;
      border-style: solid;
      border-color: rgb(33,67,102);
      padding: 10px;

}

th {
      height: 70px;
      font-size:25px;
      margin:auto;
      width: 50%;
      text-align: center;
      border-style: solid;
      border-color: rgb(33,67,102);
      padding: 10px;


}
.th1 {
      height: 70px;
      font-size:30px;
      margin:auto;
      width: 50%;
      text-align: right;
      border-style: solid;
      border-color: rgb(33,67,102);
      padding: 10px;


}

td {
      margin:auto;
      width: 50%;
      text-align: center;
      border-style: solid;
      border-color: rgb(33,67,102);
      padding: 10px;
}

.charts {    
      background-color: #ffff;
      width: 80%;
      margin: auto;


}

playtime {
      font-size: 25px;
      padding: 10px;


}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


